---
title: "404 Not Found"
import LayoutErrors from "../layouts/LayoutErrors.astro";
---

<LayoutErrors title="404 Not Found" description="La p치gina que est치s buscando no existe">
    <div class="relative flex items-center justify-center min-h-screen text-white overflow-hidden">
      
      <div class="absolute inset-0 bg-cover bg-center opacity-100" style="background-image: url('/about-1.webp');"></div>
      
      <div class="absolute inset-0 bg-black opacity-80"></div>
      
      <div class="relative z-10 text-center max-w-2xl mx-auto px-4 space-y-10">
        <h1 class="text-[10rem] font-extrabold text-amber-600 tracking-widest">404</h1>
        <p class="text-3xl font-semibold text-white">Creo que has entrado en un agujero negro...</p>
        <p class="text-xl text-gray-200">La p치gina que estas buscando esta perdida en el espacio-tiempo.</p>
        
        <!-- Bot칩n de regreso -->
        <a
          href="/"
          class="inline-block text-xl px-8 py-4 mt-4 bg-amber-600 text-white font-semibold rounded-[50px] shadow-lg hover:bg-amber-500 transition duration-300 hover:scale-110"
        >
          Volver a la Tierra
        </a>
      </div>
    </div>
</LayoutErrors>
