---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Pagina Web de Interstellar creada por davidvillard"
	description="Fan Page de Interstellar."
>
<div class="relative font-medium md:h-full flex items-center content-center">
    <div class="mr-auto ml-auto w-full px-6 py-8">
        <div class="max-w-4xl mx-auto bg-black/70 rounded-xl shadow-md overflow-hidden md:max-w-4xl">
            <div class="md:flex">
                <div class="md:flex-shrink-0">
                    <img class="h-60 w-full object-cover md:h-full md:w-48" src="/interstellar.jpg" alt="Protagonista de interstellar">
                </div>
                <div class="p-8">
                    <div class="uppercase tracking-wide text-4xl text-orange-400 font-bold">Hans Zimmer</div>
                    <p class="mt-4 text-white/90">Dirigida por Christopher Nolan, Interstellar es una de las mejores películas, por no decir la mejor, del siglo XXI y del año 2014.</p>
                    <p class="mt-2 text-white/90">Protagonizada por Matthew McConaughey, Jessica Chastain, Anne Hathaway, Timothee Chalamet y Matt Damon, Interstellar está ambientada en el futuro donde la tierra en la que vivimos ya no nos permite habitarla como antes. Por ello, un equipo de la NASA dirigido por Cooper (Matthew McConaughey) intentará encontrar un nuevo planeta habitable en un viaje interestelar.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="relative font-medium md:h-full flex items-center content-center">
    <div class="mr-auto ml-auto w-full px-6 py-8">
        <div class="max-w-4xl mx-auto bg-black/70 rounded-xl shadow-md overflow-hidden md:max-w-4xl">
            <div class="md:flex">
                <div class="p-8">
                    <div class="flex justify-center">
                        <div class="grid grid-cols-2 gap-4">
                            <div class="text-center">
                                Director:
                            </div>
                            <div>
                                Christopher Nolan
                            </div>
                            <div class="text-center">
                                Guión: 
                             </div>
                             <div>
                                Jonathan Nolan
                            </div>
                             <div class="text-center">
                               Música:
                            </div>
                            <div>
                                Hans Zimmer
                            </div>
                            <div class="text-center">
                                Reparto: 
                            </div>
                            <div>
                                Matthew McConaughey, Jessica Chastain, Anne Hathaway, Timothee Chalamet, Matt Damon
                            </div>
                            <div class="text-center">
                                Estreno: 
                            </div>
                            <div>
                                26 de Octubre de 2014
                            </div>
                            <div class="text-center">
                                Genero:
                            </div>
                            <div>
                                Ciencia Ficción, Drama, Aventura, Epica
                            </div>
                            <div class="text-center">
                                Duración:
                            </div>
                            <div>
                                169 minutos
                            </div>
                            <div class="text-center">
                                Presupuesto:
                            </div>
                            <div>
                                165 millones de dolares
                            </div>
                            <div class="text-center">
                                Recaudación:
                            </div>
                            <div>
                                773.897.851 USD
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</Layout>
