---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Pagina Web de Interstellar creada por davidvillard"
    description="Fan Page de Interstellar."
>
    <section class="text-gray-400 bg-[#060a14e8] mt-16 rounded-2xl body-font">
        <div class="container px-10 py-24 mx-auto">
            <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
                <div class="p-4 md:w-1/3 sm:mb-0 mb-10 ">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <img
                            alt="content"
                            class="object-cover object-center h-full w-full"
                            src="/about-1.webp"
                        />
                    </div>
                    <h2 class="text-xl font-medium title-font text-white mt-5">
                        Ambientación Distópica y Misión Espacial
                    </h2>
                    <p class="text-base leading-relaxed mt-2 text-pretty">
                        "Interstellar" se sitúa en un futuro distópico donde la
                        Tierra enfrenta una crisis ambiental devastadora que
                        amenaza la supervivencia de la humanidad. La trama sigue
                        a Cooper, un ex piloto convertido en agricultor, quien
                        se une a una misión espacial secreta para encontrar un
                        nuevo hogar para la humanidad más allá de nuestro
                        sistema solar. Junto con un equipo de científicos,
                        Cooper se aventura a través de agujeros de gusano en
                        busca de planetas potencialmente habitables.
                    </p>
                    <a href="https://es.wikipedia.org/wiki/Interstellar" class="text-indigo-300 hover:text-indigo-400 inline-flex items-center mt-3" target="_blank" rel="noopener noreferrer"
                        >Leer más
                        <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            class="w-4 h-4 ml-2 mt-[3px]"
                            viewBox="0 0 24 24"
                        >
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <img
                            alt="content"
                            class="object-cover object-center h-full w-full"
                            src="/about-2.webp"
                        />
                    </div>
                    <h2 class="text-xl font-medium title-font text-white mt-5">
                        Exploración y Descubrimientos Cósmicos
                    </h2>
                    <p class="text-base leading-relaxed mt-2 text-pretty">
                        A lo largo de su odisea, el equipo de exploradores se
                        enfrenta a peligros desconocidos, descubre mundos
                        distantes y se enfrenta a dilemas éticos mientras luchan
                        por salvar a la humanidad de la extinción. La película
                        explora temas profundos como el tiempo, la gravedad y la
                        naturaleza del universo, todo mientras los personajes se
                        enfrentan a desafíos personales y emocionales.
                    </p>
                    <a href="https://es.wikipedia.org/wiki/Interstellar" class="text-indigo-300 hover:text-indigo-400 inline-flex items-center mt-3" target="_blank" rel="noopener noreferrer"
                        >Leer más
                        <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            class="w-4 h-4 ml-2 mt-[3px]"
                            viewBox="0 0 24 24"
                        >
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <img
                            alt="content"
                            class="object-cover object-center h-full w-full"
                            src="/about-3.webp"
                        />
                    </div>
                    <h2 class="text-xl font-medium title-font text-white mt-5">
                        Conclusión Épica y Reflexiones Filosóficas
                    </h2>
                    <p class="text-base leading-relaxed mt-2">
                        "Interstellar" culmina en una conclusión épica que
                        desafía la mente y el corazón. A medida que la trama se
                        desenvuelve, se plantean preguntas profundas sobre el
                        amor, la esperanza y el sacrificio. La película invita a
                        los espectadores a reflexionar sobre la naturaleza de la
                        existencia humana y el papel del ser humano en el vasto
                        cosmos.
                    </p>
                    <a href="https://es.wikipedia.org/wiki/Interstellar" class="text-indigo-300 hover:text-indigo-400 inline-flex items-center mt-3" target="_blank" rel="noopener noreferrer"
                        >Leer más
                        <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            class="w-4 h-4 ml-2 mt-[3px]"
                            viewBox="0 0 24 24"
                        >
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
</Layout>
