---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Pagina Web de Interstellar creada por davidvillard"
  description="Fan Page de Interstellar."
>
  <div
    class="flex justify-center items-center mt-40 animate-slide-in2 flex-wrap mb-36 m-8 md:m-8 lg:m-0"
  >
    <ul
      role="list"
      class="grid grid-cols-1 gap-6 text-slate-900 dark:text-slate-200 sm:grid-cols-2 lg:grid-cols-2"
    >
      <li
        class="group col-span-1 grid max-w-sm cursor-pointer justify-items-center rounded-lg"
      >
        <div
          class="h-[30rem] w-full rounded-lg bg-slate-300 bg-cover bg-center shadow-md"
          style="
        background-image: url(/anne.jpg);
      "
        >
        </div>

        <div
          class="-mt-10 w-11/12 overflow-hidden rounded-lg border-2 border-transparent bg-slate-50 shadow-lg transition-colors group-hover:bg-blue-600 dark:bg-slate-900"
        >
          <a href="/amelia">
            <h3
              class="p-2 text-center text-xl font-bold text-slate-800 transition-colors group-hover:text-slate-50 dark:text-slate-200"
            >
              Anne Hathaway
            </h3>
            <div class="flex p-2">
              <span
                class="truncate text-sm text-slate-500 transition-colors group-hover:text-slate-200"
                >Anne Hathaway, interpretando a Amelia Brand, es una astronauta y científica que acompaña a Cooper en la misión. Hija del Dr. Brand, Amelia es una mujer decidida y competente, con una creencia profunda en el poder del amor, no solo como un sentimiento, sino como una fuerza que puede trascender el tiempo y el espacio. Hathaway interpreta a una persona que lucha con la dicotomía entre la razón y la emoción. Mientras su personaje trata de mantener una perspectiva lógica y científica, sus sentimientos personales la llevan a tomar decisiones difíciles a lo largo de la misión. A través de su actuación, Hathaway logra transmitir el conflicto interno de Amelia, quien busca un equilibrio entre salvar a la humanidad y seguir su corazón.</span
              >
            </div>
          </a>
        </div>
      </li>

      <li
        class="group col-span-1 grid max-w-sm cursor-pointer justify-items-center rounded-lg"
      >
        <div
          class="h-[30rem] w-full rounded-lg bg-slate-300 bg-cover bg-center shadow-md"
          style="
        background-image: url(/jessica.jpg);
      "
        >
        </div>

        <div
          class="-mt-10 w-11/12 overflow-hidden rounded-lg border-2 border-transparent bg-slate-50 shadow-lg transition-colors group-hover:bg-blue-600 dark:bg-slate-900"
        >
        <a href="/murph">
          <h3
            class="p-2 text-center text-xl font-bold text-slate-800 transition-colors group-hover:text-slate-50 dark:text-slate-200"
          >
            Jessica Chastain
          </h3>
          <div class="flex p-2">
            <span
              class="truncate text-sm text-slate-500 transition-colors group-hover:text-slate-200"
              >Jessica Chastain, interpretando a Murphy "Murph" Cooper (adulta), toma el relevo del personaje de la hija de Joseph Cooper, quien de niña (interpretada por Mackenzie Foy) tenía una relación muy cercana con su padre. De adulta, Murph se convierte en una científica brillante, que sigue los pasos de su padre pero, al mismo tiempo, lleva consigo una profunda herida emocional por la partida de este. A lo largo de la película, Murph juega un papel crucial en resolver el enigma científico que puede salvar a la humanidad. Chastain ofrece una actuación cargada de emoción contenida, mostrando la evolución de su personaje, desde el dolor y la ira por la ausencia de su padre, hasta la determinación y el perdón, lo que finalmente impulsa la resolución de la trama.</span
            >
          </div>
          </a>
        </div>
      </li>

      <li
        class="group col-span-1 grid max-w-sm cursor-pointer justify-items-center rounded-lg"
      >
        <div
          class="h-[30rem] w-full rounded-lg bg-slate-300 bg-cover bg-center shadow-md"
          style="
        background-image: url(/matthew.jpg);
      "
        >
        </div>

        <div
          class="-mt-10 w-11/12 overflow-hidden rounded-lg border-2 border-transparent bg-slate-50 shadow-lg transition-colors group-hover:bg-blue-600 dark:bg-slate-900"
        >
        <a href="/cooper">
          <h3
            class="p-2 text-center text-xl font-bold text-slate-800 transition-colors group-hover:text-slate-50 dark:text-slate-200"
          >
            Matthew McConaughey
          </h3>
          <div class="flex p-2">
            <span
              class="truncate text-sm text-slate-500 transition-colors group-hover:text-slate-200"
              >Matthew McConaughey, interpretando a Joseph "Coop" Cooper, es el protagonista de Interstellar. Cooper es un ex-piloto y granjero que es llamado a una misión interestelar para salvar a la humanidad. McConaughey da vida a un hombre dividido entre su deber como padre y su responsabilidad hacia el futuro de la humanidad. Su personaje se ve atrapado entre el amor por sus hijos y la necesidad de buscar una solución en las estrellas. A lo largo del viaje, la interpretación de McConaughey resalta las dificultades emocionales de un hombre que debe sacrificarse y enfrentarse a lo desconocido, mientras lucha contra el tiempo y las leyes de la física. Su actuación está cargada de intensidad y vulnerabilidad, lo que lo convierte en el corazón de la historia.</span
            >
          </div>
          </a>
        </div>
      </li>
      <li
        class="group col-span-1 grid max-w-sm cursor-pointer justify-items-center rounded-lg"
      >
        <div
          class="h-[30rem] w-full rounded-lg bg-slate-300 bg-cover bg-center shadow-md"
          style="
        background-image: url(/matt.jpg);
      "
        >
        </div>

        <div
          class="-mt-10 w-11/12 overflow-hidden rounded-lg border-2 border-transparent bg-slate-50 shadow-lg transition-colors group-hover:bg-blue-600 dark:bg-slate-900"
        >
        <a href="/hugh-mann">
          <h3
            class="p-2 text-center text-xl font-bold text-slate-800 transition-colors group-hover:text-slate-50 dark:text-slate-200"
          >
            Matt Damon
          </h3>
          <div class="flex p-2">
            <span
              class="truncate text-sm text-slate-500 transition-colors group-hover:text-slate-200"
              >Matt Damon, interpretando al Dr. Mann, aparece como un astronauta que fue enviado en una misión anterior para encontrar planetas habitables. Inicialmente es presentado como un héroe perdido, pero con el avance de la trama se revela su verdadero carácter. Dr. Mann es un hombre que ha sucumbido al miedo y la desesperación, y su comportamiento egoísta y traicionero pone en riesgo la misión. Damon interpreta a un personaje complejo, que primero inspira confianza pero luego muestra su verdadera fragilidad y desesperación. Su actuación destaca cómo el miedo puede quebrar incluso a los héroes más admirados y lo convierte en uno de los antagonistas más inesperados de la película.</span
            >
          </div>
        </div>
        </a>
      </li>
      <li
        class="group col-span-1 grid max-w-sm cursor-pointer justify-items-center rounded-lg"
      >
        <div
          class="h-[30rem] w-full rounded-lg bg-slate-300 bg-cover bg-center shadow-md"
          style="
        background-image: url(/michael.jpg);
      "
        >
        </div>

        <div
          class="-mt-10 w-11/12 overflow-hidden rounded-lg border-2 border-transparent bg-slate-50 shadow-lg transition-colors group-hover:bg-blue-600 dark:bg-slate-900"
        >
        <a href="/john">
          <h3
            class="p-2 text-center text-xl font-bold text-slate-800 transition-colors group-hover:text-slate-50 dark:text-slate-200"
          >
            Michael Caine
          </h3>
          <div class="flex p-2">
            <span
              class="truncate text-sm text-slate-500 transition-colors group-hover:text-slate-200"
              >Michael Caine, interpretando al Dr. John Brand, es el mentor de Cooper y uno de los principales científicos de la misión espacial. Su personaje es un hombre de ciencia que trabaja incansablemente para encontrar una solución a la crisis que enfrenta la Tierra. Brand es también el padre de Amelia, y aunque su amor por ella es evidente, se muestra más enfocado en la ecuación que podría salvar a la humanidad. Caine interpreta a un personaje que mantiene ciertos secretos, lo que añade tensión al relato, especialmente cuando se revela que las soluciones que promete pueden no ser tan reales como aparenta. Su actuación es sutil pero poderosa, transmitiendo la desesperación de un hombre que sabe más de lo que está dispuesto a admitir.</span
            >
          </div>
          </a>
        </div>
      </li>
      <li
        class="group col-span-1 grid max-w-sm cursor-pointer justify-items-center rounded-lg"
      >
        <div
          class="h-[30rem] w-full rounded-lg bg-slate-300 bg-cover bg-center shadow-md"
          style="
        background-image: url(/timothee.jpg);
      "
        >
        </div>

        <div
          class="-mt-10 w-11/12 overflow-hidden rounded-lg border-2 border-transparent bg-slate-50 shadow-lg transition-colors group-hover:bg-blue-600 dark:bg-slate-900"
        >
        <a href="/timothee">
          <h3
            class="p-2 text-center text-xl font-bold text-slate-800 transition-colors group-hover:text-slate-50 dark:text-slate-200"
          >
            Timothée Chalamet
          </h3>
          <div class="flex p-2">
            <span
              class="truncate text-sm text-slate-500 transition-colors group-hover:text-slate-200"
              >Timothée Chalamet, interpretando a Tom Cooper (joven), encarna al hijo de Joseph Cooper. Su personaje representa el lado más vulnerable y emocional de la vida de Cooper antes de que este parta en su misión interestelar. Tom es un joven que, aunque ama profundamente a su padre, lucha por comprender por qué debe dejar a la familia para irse a las estrellas. La distancia entre ellos aumenta con el paso del tiempo, lo que genera una compleja dinámica familiar. Chalamet, en su actuación, logra transmitir la mezcla de cariño, confusión y resentimiento que define la juventud de Tom. Más adelante, el personaje adulto de Tom es interpretado por Casey Affleck, quien aporta una visión más endurecida y distante del mismo personaje, que ha pasado por los efectos devastadores de la misión de su padre.</span
            >
          </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</Layout>
