---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Pagina Web de Interstellar creada por davidvillard"
    description="Fan Page de Interstellar."
>
    <div class="flex justify-center items-center mt-40 animate-slide-in2 flex-wrap mb-36">
        <div
            class="relative w-[300px] h-[450px] min-w-1/20 shadow-lg rounded-xl mx-2 mb-4"
        >
            <a href="/amelia-brand/" class="cursor: pointer;">
                <img
                    src="/anne.webp"
                    alt="Anne Hathaway"
                    class="w-full h-full object-cover rounded-xl"
                />
                <div
                    class="absolute inset-0 flex justify-center items-center flex-col opacity-0 transition duration-500 hover:opacity-100 rounded-xl bg-gradient-to-t from-black to-transparent"
                >
                    <div class="text-white text-center font-bold text-xl py-3">
                        Anne Hathaway
                    </div>
                </div>
            </a>
        </div>
        <div
            class="relative w-[300px] h-[450px] min-w-1/20 shadow-lg rounded-xl mx-2 mb-4"
        >
            <a href="/cooper/" class="cursor: pointer;">
                <img
                    src="/matthew.webp"
                    alt="Matthew McConaughey"
                    class="w-full h-full object-cover rounded-xl"
                />
                <div
                    class="absolute inset-0 flex justify-center items-center flex-col opacity-0 transition duration-500 hover:opacity-100 rounded-xl bg-gradient-to-t from-black to-transparent"
                >
                    <div class="text-white text-center font-bold text-xl py-3">
                        Matthew McConaughey
                    </div>
                </div>
            </a>
        </div>
        <div
            class="relative w-[300px] h-[450px] min-w-1/20 shadow-lg rounded-xl mx-2 mb-4"
        >
            <a href="/hugh-mann/" class="cursor: pointer;">
                <img
                    src="/mattdamon.webp"
                    alt="Matt Damon"
                    class="w-full h-full object-cover rounded-xl"
                />
                <div
                    class="absolute inset-0 flex justify-center items-center flex-col opacity-0 transition duration-500 hover:opacity-100 rounded-xl bg-gradient-to-t from-black to-transparent"
                >
                    <div class="text-white text-center font-bold text-xl py-3">
                        Matthew Damon
                    </div>
                </div>
            </a>
        </div>
        <div
            class="relative w-[300px] h-[450px] min-w-1/20 shadow-lg rounded-xl mx-2 mb-4"
        >
            <a href="/john-brand/" class="cursor: pointer;">
                <img
                    src="/john2.webp"
                    alt="Michael Caine"
                    class="w-full h-full object-cover rounded-xl"
                />
                <div
                    class="absolute inset-0 flex justify-center items-center flex-col opacity-0 transition duration-500 hover:opacity-100 rounded-xl bg-gradient-to-t from-black to-transparent"
                >
                    <div class="text-white text-center font-bold text-xl py-3">
                        Michael Caine
                    </div>
                </div>
            </a>
        </div>
        <div
            class="relative w-[300px] h-[450px] min-w-1/20 shadow-lg rounded-xl mx-2"
        >
            <a href="/murph/" class="cursor: pointer;">
                <img
                    src="/jessica.webp"
                    alt="Jessica Chastain"
                    class="w-full h-full object-cover rounded-xl"
                />
                <div
                    class="absolute inset-0 flex justify-center items-center flex-col opacity-0 transition duration-500 hover:opacity-100 rounded-xl bg-gradient-to-t from-black to-transparent"
                >
                    <div class="text-white text-center font-bold text-xl py-3">
                        Jessica Chastain
                    </div>
                </div>
            </a>
        </div>
    </div>
</Layout>
