---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Pagina Web de Interstellar creada por davidvillard"
    description="Fan Page de Interstellar."
>

<div class="grid grid-cols-1 2xl:grid-cols-3 gap-10 mt-8 mb-40 md:m-20 sm:mb-24 xl:mt-8 2xl:px-10 py-20 w-[80%] bg-[#060a14e8] rounded-3xl">
    <!-- Imagen del actor a la izquierda -->
    <div class="col-span-1 flex justify-center 2xl:justify-start">
      <img src="/matthew.png" alt="Imagen de Matthew Mcconaughey" class="2xl:w-[44rem] 2xl:h-[34rem] md:w-[30rem] md:h-[30rem] w-[20rem] h-[20rem] object-cover rounded-full mask-blur-bottom ml-12 md:ml-20 2xl:ml-0">
    </div>
    
    <!-- Información del actor a la derecha -->
    <div class="col-span-2 md:pl-4">
      <h2 class="text-2xl 2xl:text-4xl font-bold text-center 2xl:text-left tracking-[0.25em] 2xl:px-10">MATTHEW MCCONAUGHEY</h2>
      <h4 class="tracking-[0.2em] text-sm text-center 2xl:text-left text-slate-400 mt-10 2xl:px-10">CHARACTER:</h4>
      <h3 class="tracking-[0.1em] text-lg text-center 2xl:text-left font-bold 2xl:px-10">COOPER</h3>
      <p class="mt-16 leading-relaxed text-center 2xl:text-left text-wrap 2xl:w-[85%] px-10">
        Matthew McConaughey, interpretando a Joseph "Coop" Cooper, es el protagonista de Interstellar. Cooper es un ex-piloto y granjero que es llamado a una misión interestelar para salvar a la humanidad. McConaughey da vida a un hombre dividido entre su deber como padre y su responsabilidad hacia el futuro de la humanidad. Su personaje se ve atrapado entre el amor por sus hijos y la necesidad de buscar una solución en las estrellas. A lo largo del viaje, la interpretación de McConaughey resalta las dificultades emocionales de un hombre que debe sacrificarse y enfrentarse a lo desconocido, mientras lucha contra el tiempo y las leyes de la física. Su actuación está cargada de intensidad y vulnerabilidad, lo que lo convierte en el corazón de la historia.
      </p>
      <h4 class="tracking-[0.2em] text-sm text-slate-400 mt-16 px-10">PHOTOS:</h4>
      <!-- Imágenes de la película en tamaño mediano -->
      <div class="grid grid-cols-1 xl:grid-cols-4 gap-10 mt-6 px-10">
        <img src="/matthew-bio-1.jpg" alt="Imagen 1" class="w-full h-auto object-cover rounded-xl transition duration-300 ease-in-out hover:scale-110 cursor-pointer">
        <img src="/matthew-bio-2.jpg" alt="Imagen 2" class="w-full h-auto object-cover rounded-xl transition duration-300 ease-in-out hover:scale-110 cursor-pointer">
        <img src="/matthew-bio-3.jpeg" alt="Imagen 3" class="w-full h-auto object-cover rounded-xl transition duration-300 ease-in-out hover:scale-110 cursor-pointer">
        <img src="/matthew-bio-4.jpg" alt="Imagen 4" class="w-full h-auto object-cover rounded-xl transition duration-300 ease-in-out hover:scale-110 cursor-pointer">
      </div>
    </div>
  </div>
</Layout>


<style>
    .mask-blur-bottom {
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0,1), 85%, rgba(0, 0, 0, 0));
}
</style>
