---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pagina Web de Interstellar creada por davidvillard"
description="Fan Page de Interstellar.">
    
<div class="p-8 sm:p-24 bg-[#060a14e8] mt-32 mb-28 w-[80%] rounded-3xl text">
	<div class="flex flex-col space-y-4 xl:space-y-0 xl:space-x-6 xl:flex-row">
		<img src="/hans_zimmer.jpg" alt="" class="self-center flex-shrink-0 w-80 h-80 mt-14 rounded-full xl:justify-self-start">
		<div class="flex flex-col">
			<h4 class="text-4xl font-bold text-center xl:text-left text-[#FFFF7E]">Hans Zimmer</h4>
			<p class="text-white mt-10 text-pretty">Hans Zimmer es uno de los compositores más influyentes y exitosos de la industria cinematográfica. Nacido en Alemania en 1957, Zimmer ha dejado una marca indeleble en el mundo del cine con su música innovadora y emocional. Es conocido por su habilidad para fusionar elementos de diferentes géneros musicales, creando paisajes sonoros únicos que complementan perfectamente las imágenes en la pantalla.</p>

			<p class="text-white mt-10 text-pretty">Su asociación con el director Christopher Nolan ha producido algunas de las colaboraciones más memorables en la historia del cine. En películas como "Inception" y "The Dark Knight Trilogy", Zimmer ha demostrado su capacidad para capturar la esencia de las historias de Nolan a través de su música. Sin embargo, es en "Interstellar" donde su colaboración alcanza nuevas alturas.</p>

			<p class="text-white mt-10 text-pretty">En "Interstellar", Zimmer crea una partitura magistral que refleja la vastedad y la belleza del espacio, así como las complejas emociones de los personajes. Utilizando una combinación de instrumentos clásicos y electrónicos, Zimmer logra evocar un sentido de asombro, misterio y esperanza a lo largo de la película. Desde los momentos de quietud contemplativa hasta las escenas de acción intensa, su música se convierte en una parte integral de la experiencia cinematográfica, elevando cada momento a nuevas alturas emocionales.</p>
		</div>
	</div>
</div>

</Layout>