---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pagina Web de Interstellar creada por David Villard"
description="Fan Page de Interstellar.">
    <section class="bg-[#060a14e8] mt-12 mb-40 sm:mb-24 rounded-xl w-[85%] sm:w-3/4 text-white py-12 px-6">
        <h1 class="text-4xl font-bold text-center mb-4">Christopher Nolan</h1>
        <div class="flex flex-col 2xl:flex-row items-center justify-center mb-40 mt-20 gap-32">
            <img src="/christopher_nolan.png" alt="Christopher Nolan" class="rounded-xl shadow-lg h-[20rem] sm:h-[25rem] md:h-[30rem] md:w-auto w-auto object-cover mask-blur-bottom" />
            <div class="mt-6 md:mt-0 md:ml-8 max-w-md">
                <p class="text-xl tracking-wide text-center sm:text-left">
                    Christopher Nolan es un cineasta visionario conocido por sus narrativas complejas y sus impresionantes visuales. Aporta una perspectiva única a la ciencia ficción, particularmente en Interstellar.
                </p>
                <p class="text-gray-400 text-xl mt-4 tracking-wide text-center sm:text-left">
                    Con una carrera que abarca más de dos décadas, Nolan ha cautivado al público con su narrativa innovadora y su magistral dirección. Sus películas a menudo exploran temas de tiempo, memoria y emoción humana, lo que lo convierte en uno de los directores más influyentes de nuestro tiempo.
                </p>
            </div>
        </div>
        
        <h2 class="text-3xl font-bold text-center mb-16">Filmografía</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <a href="https://www.imdb.com/title/tt15398776/" target="_blank" class="overflow-hidden rounded-lg shadow-lg bg-gray-800 transition-transform transform hover:scale-105">
                <img src="/oppenheimer.jpg" alt="Oppenheimer" class="w-full h-48 object-cover rounded-t-lg" />
                <div class="p-4">
                    <h4 class="font-bold">Oppenheimer</h4>
                    <p>2023</p>
                </div>
            </a>
            <a href="https://www.imdb.com/title/tt6723592/" target="_blank" class="overflow-hidden rounded-lg shadow-lg bg-gray-800 transition-transform transform hover:scale-105">
                <img src="/tenet.jpg" alt="Tenet" class="w-full h-48 object-cover rounded-t-lg" />
                <div class="p-4">
                    <h4 class="font-bold">Tenet</h4>
                    <p>2020</p>
                </div>
            </a>
            <a href="https://www.imdb.com/title/tt5013056/" target="_blank" class="overflow-hidden rounded-lg shadow-lg bg-gray-800 transition-transform transform hover:scale-105">
                <img src="/dunkirk.jpg" alt="Dunkirk" class="w-full h-48 object-cover rounded-t-lg" />
                <div class="p-4">
                    <h4 class="font-bold">Dunkirk</h4>
                    <p>2017</p>
                </div>
            </a>
            <a href="https://www.imdb.com/title/tt0816692/" target="_blank" class="overflow-hidden rounded-lg shadow-lg bg-gray-800 transition-transform transform hover:scale-105">
                <img src="/Interstellar4K.webp" alt="Interstellar" class="w-full h-48 object-cover rounded-t-lg" />
                <div class="p-4">
                    <h4 class="font-bold">Interstellar</h4>
                    <p>2014</p>
                </div>
            </a>
            <a href="https://www.imdb.com/title/tt1375666/" target="_blank" class="overflow-hidden rounded-lg shadow-lg bg-gray-800 transition-transform transform hover:scale-105">
                <img src="/inception.jpg" alt="Inception" class="w-full h-48 object-cover rounded-t-lg" />
                <div class="p-4">
                    <h4 class="font-bold">Inception</h4>
                    <p>2010</p>
                </div>
            </a>
            <a href="https://www.imdb.com/title/tt0468569/" target="_blank" class="overflow-hidden rounded-lg shadow-lg bg-gray-800 transition-transform transform hover:scale-105">
                <img src="/the-dark-knight.jpg" alt="The Dark Knight" class="w-full h-48 object-cover rounded-t-lg" />
                <div class="p-4">
                    <h4 class="font-bold">The Dark Knight</h4>
                    <p>2008</p>
                </div>
            </a>
            <a href="https://www.imdb.com/title/tt0372784/" target="_blank" class="overflow-hidden rounded-lg shadow-lg bg-gray-800 transition-transform transform hover:scale-105">
                <img src="/batman-begins.jpg" alt="Batman Begins" class="w-full h-48 object-cover rounded-t-lg" />
                <div class="p-4">
                    <h4 class="font-bold">Batman Begins</h4>
                    <p>2005</p>
                </div>
            </a>
            <a href="https://www.imdb.com/title/tt0482571/" target="_blank" class="overflow-hidden rounded-lg shadow-lg bg-gray-800 transition-transform transform hover:scale-105">
                <img src="/the-prestige.jpg" alt="The Prestige" class="w-full h-48 object-cover rounded-t-lg" />
                <div class="p-4">
                    <h4 class="font-bold">The Prestige</h4>
                    <p>2006</p>
                </div>
            </a>
            <a href="https://www.imdb.com/title/tt0209144/" target="_blank" class="overflow-hidden rounded-lg shadow-lg bg-gray-800 transition-transform transform hover:scale-105">
                <img src="/memento.jpg" alt="Memento" class="w-full h-48 object-cover rounded-t-lg" />
                <div class="p-4">
                    <h4 class="font-bold">Memento</h4>
                    <p>2000</p>
                </div>
            </a>
            <a href="https://www.imdb.com/title/tt0154506/" target="_blank" class="overflow-hidden rounded-lg shadow-lg bg-gray-800 transition-transform transform hover:scale-105">
                <img src="/following.png" alt="Following" class="w-full h-48 object-cover rounded-t-lg" />
                <div class="p-4">
                    <h4 class="font-bold">Following</h4>
                    <p>1998</p>
                </div>
            </a>
        </div>

        <!-- Modern Awards Section -->
        <h2 class="text-3xl font-bold text-center mt-32 mb-16">Premios y reconocimientos</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <div class="bg-gray-800 rounded-lg p-4 shadow-lg transition-transform transform hover:scale-105 flex items-center">
                <div class="w-16 h-16 rounded-full flex items-center justify-center">
                    <img src="/oscar.png" alt="Oscar Icon" class="w-10 h-10" />
                </div>
                <div class="ml-4">
                    <h4 class="font-bold">3 Academy Awards</h4>
                    <p class="text-gray-400">Reconocimiento en varias categorías</p>
                </div>
            </div>
            <div class="bg-gray-800 rounded-lg p-4 shadow-lg transition-transform transform hover:scale-105 flex items-center">
                <div class="w-16 h-16 rounded-full flex items-center justify-center">
                    <img src="/bafta.png" alt="BAFTA Icon" class="w-10 h-10" />
                </div>
                <div class="ml-4">
                    <h4 class="font-bold">BAFTA Awards</h4>
                    <p class="text-gray-400">Premios de la Academia Británica</p>
                </div>
            </div>
            <div class="bg-gray-800 rounded-lg p-4 shadow-lg transition-transform transform hover:scale-105 flex items-center">
                <div class="w-16 h-16 rounded-full flex items-center justify-center">
                    <img src="/golden-globe.png" alt="Golden Globe Icon" class="w-10 h-10" />
                </div>
                <div class="ml-4">
                    <h4 class="font-bold">Golden Globe Awards</h4>
                    <p class="text-gray-400">Premios Globo de Oro</p>
                </div>
            </div>
        </div>
    </section>
</Layout>

<style>
    .mask-blur-bottom {
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0,1), 85%, rgba(0, 0, 0, 0));
}
</style>