---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Pagina Web de Interstellar creada por davidvillard"
    description="Fan Page de Interstellar."
>

<div class="grid grid-cols-1 2xl:grid-cols-3 gap-10 mt-10 2xl:px-10 py-20 w-[80%] bg-[#060a14e8] rounded-3xl">
    <!-- Imagen del actor a la izquierda -->
    <div class="col-span-1 flex justify-center 2xl:justify-start">
        <img src="/matt.png" alt="Imagen de Matt Damon" class="2xl:w-[44rem] 2xl:h-[34rem] md:w-[30rem] md:h-[30rem] w-[20rem] h-[20rem] object-cover rounded-full mask-blur-bottom ml-12 md:ml-20 2xl:ml-0">
      </div>
    
    <!-- Información del actor a la derecha -->
    <div class="col-span-2 md:pl-4">
      <h2 class="text-4xl font-bold text-center 2xl:text-left tracking-[0.25em] 2xl:px-10 px-5">MATT DAMON</h2>
      <h4 class="tracking-[0.2em] text-sm text-center 2xl:text-left text-slate-400 mt-10 2xl:px-10">CHARACTER:</h4>
      <h3 class="tracking-[0.1em] text-lg text-center 2xl:text-left font-bold 2xl:px-10">DR MANN</h3>
      <p class="mt-16 leading-relaxed text-center 2xl:text-left text-wrap 2xl:w-[85%] px-10">
        Matt Damon, interpretando al Dr. Mann, aparece como un astronauta que fue enviado en una misión anterior para encontrar planetas habitables. Inicialmente es presentado como un héroe perdido, pero con el avance de la trama se revela su verdadero carácter. Dr. Mann es un hombre que ha sucumbido al miedo y la desesperación, y su comportamiento egoísta y traicionero pone en riesgo la misión. Damon interpreta a un personaje complejo, que primero inspira confianza pero luego muestra su verdadera fragilidad y desesperación. Su actuación destaca cómo el miedo puede quebrar incluso a los héroes más admirados y lo convierte en uno de los antagonistas más inesperados de la película.
      </p>
      <h4 class="tracking-[0.2em] text-sm text-slate-400 mt-16 px-10">PHOTOS:</h4>
      <!-- Imágenes de la película en tamaño mediano -->
      <div class="grid grid-cols-1 xl:grid-cols-4 gap-10 mt-6 px-10">
        <img src="/matt-bio-1.jpg" alt="Imagen 1" class="w-full h-auto object-cover rounded-xl transition duration-300 ease-in-out hover:scale-110 cursor-pointer">
        <img src="/matt-bio-2.jpg" alt="Imagen 2" class="w-full h-auto object-cover rounded-xl transition duration-300 ease-in-out hover:scale-110 cursor-pointer">
        <img src="/matt-bio-3.jpg" alt="Imagen 3" class="w-full h-auto object-cover rounded-xl transition duration-300 ease-in-out hover:scale-110 cursor-pointer">
      </div>
    </div>
  </div>
</Layout>


<style>
    .mask-blur-bottom {
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0,1), 85%, rgba(0, 0, 0, 0));
}
</style>