---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Pagina Web de Interstellar creada por davidvillard"
    description="Fan Page de Interstellar."
>

<div class="container mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 px-10 py-10 gap-8 w-[80%] mt-16 xl:mb-10 bg-[#060a14e8] rounded-3xl mb-28">

    <div class="h-full grid place-items-center">
        <h2 class=" text-2xl font-semibold">
            <button
                class="overflow-hidden w-52 p-2 h-12 text-white border-none rounded-2xl font-bold cursor-pointer relative z-10 group"
            >
                Michael Caine
                <span
                    class="absolute w-56 h-32 -top-12 -left-2 bg-[#060a14] rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-500 duration-1000 origin-left"
                ></span>
                <span
                    class="group-hover:opacity-100 group-hover:duration-1000 duration-100 opacity-0 absolute top-2.5 left-6 z-10 "
                    >John Brand
                </span>
            </button>
        </h2>
        <img
            src="/john2.webp"
            alt=""
            class="w-70 h-70 rounded-full object-cover object-center mt-10 lg:mb-28"
        />
    </div>

    <div class="h-full">
        <div class="text-left px-8 py-8">
            <h2 class="text-3xl font-bold text-white text-center mb-6">
                Winner
            </h2>
            <p class="text-lg text-white text-center mb-4">Oscar, 2015</p>
            <p class="text-sm text-white">Best visual effects</p>
            <p class="text-lg text-white text-center mb-4 mt-4">
                British Academy 2015
            </p>
            <p class="text-sm text-white">Best visual effects</p>
            <p class="text-lg text-white text-center mb-4 mt-4">
                Georges, 2015
            </p>
            <p class="text-sm text-white">Best Foreign Drama</p>
            <p class="text-lg text-white text-center mb-4 mt-4">
                Saturn, 2015
            </p>
            <p class="text-sm text-white">Best Science Fiction Film</p>
            <p class="text-sm text-white">Best Young Actor / Actress</p>
            <p class="text-sm text-white">Best Screenplay</p>
            <p class="text-sm text-white">The best music</p>
            <p class="text-sm text-white">Best special effects</p>
            <p class="text-sm text-white">The best decorations</p>
        </div>
    </div>

    <div class="h-full">
        <div class="text-left px-8 py-8">
            <h2 class="text-3xl font-bold text-white text-center mb-6">
                Nominations
            </h2>
            <p class="text-lg text-white text-center mb-4">Oscar, 2015</p>
            <p class="text-sm text-white">Best Sound</p>
            <p class="text-sm text-white">Best Sound Editing</p>
            <p class="text-sm text-white">Best Soundtrack</p>
            <p class="text-sm text-white">Best Production Designer</p>
            <p class="text-lg text-white text-center mb-4 mt-4">
                Golden Globes, 2015
            </p>
            <p class="text-sm text-white">Best Production Designer</p>
            <p class="text-lg text-white text-center mb-4 mt-4">
                Golden Globes, 2015
            </p>
            <p class="text-sm text-white">
                Best Cinematography (Hoyte Van Hoytem)
            </p>
            <p class="text-sm text-white">Best Soundtrack</p>
            <p class="text-sm text-white">
                Best Production Design (Nathan Crowley, Gary Fettis)
            </p>
            <p class="text-lg text-white text-center mb-4 mt-4">
                Golden Globes, 2015
            </p>
            <p class="text-sm text-white">
                Best Actor (Matthew McConauhey)
            </p>
            <p class="text-sm text-white">Best Actress (Anne Hathaway)</p>
            <p class="text-sm text-white">
                Best Supporting Actress (Jessica Chastain)
            </p>
            <p class="text-sm text-white">
                Best Director (Christopher Nolan)
            </p>
            <p class="text-sm text-white">Best Editing</p>
        </div>
    </div>
</div>
</Layout>
