---
import { SignIn, SignOut } from "auth-astro/components";
import LayoutLogin from "../layouts/LayoutLogin.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
console.log('Session:', session);

---

<LayoutLogin title="Login" description="Logueate en nuestra web!">
  <div class="w-full max-w-lg p-5 mx-auto">
    <h2 class="mb-8 text-center text-white text-4xl sm:text-5xl font-extrabold">
      ¡Bienvenido!
    </h2>
    <div class="flex flex-col items-center space-y-4">
      {
        session ? (
          <>
            <p> Hola {session.user?.name}</p>
            <SignOut>Cerrar Sesion</SignOut>
          </>
        ) : (
          <>
            <SignIn provider="google">
              Iniciar Sesion con Google
            </SignIn>
          </>
        )
      }
    </div>
  </div>
</LayoutLogin>
