---
title: "404 Not Found"
import Layout from "../layouts/Layout.astro";
---

<Layout title="Interstellar" description="Interstellar Fan Page">
    <div class="p-4 mt-10">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-12"> <!--Necesito saber porque no funcione el grid-columns-3 a partir de lg -->
          <div class="overflow-hidden rounded-[50px] h-[20em] sm:h-[17em] md:h-[18em] xl:h-[23em] 2xl:h-[30em] shadow-lg efecto">
            <img src="/gif1.jpg" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer no-gif" />
            <img src="/gif1.gif" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer gif" />
          </div>
          <div class="overflow-hidden rounded-[50px] h-[20em] sm:h-[17em] md:h-[18em] xl:h-[23em] 2xl:h-[30em] shadow-lg efecto">
            <img src="/gif2.jpg" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer no-gif" />
            <img src="/gif2.gif" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer gif" />
          </div>
          <div class="overflow-hidden rounded-[50px] h-[20em] sm:h-[17em] md:h-[18em] xl:h-[23em] 2xl:h-[30em] shadow-lg efecto">
            <img src="/gif3.jpg" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer no-gif" />
            <img src="/gif3.gif" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer gif" />
          </div>
          <div class="overflow-hidden rounded-[50px] h-[20em] sm:h-[17em] md:h-[18em] xl:h-[23em] 2xl:h-[30em] shadow-lg efecto">
            <img src="/gif4.jpg" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer no-gif" />
            <img src="/gif4.gif" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer gif" />
          </div>
        </div>
    </div>
</Layout>

<style>
    .no-gif, .efecto:hover .gif{
        display: flex;
    }

    .gif, .efecto:hover .no-gif{
        display: none;
    }
</style>
