---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Interstellar" description="Interstellar Fan Page">
    <div class="p-4 mt-10 mb-36 sm:mb-24">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-12"> <!--Necesito saber porque no funcione el grid-columns-3 a partir de lg -->
          <div class="overflow-hidden rounded-[50px] h-[20em] sm:h-[17em] md:h-[18em] xl:h-[23em] 2xl:h-[30em] shadow-lg">
            <img src="/galeria.jpg" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer transition-all ease-in-out duration-500 hover:scale-110"  />
          </div>
          <div class="overflow-hidden rounded-[50px] h-[20em] sm:h-[17em] md:h-[18em] xl:h-[23em] 2xl:h-[30em] shadow-lg">
            <img src="/gif4.gif" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer transition-all ease-in-out duration-500 hover:scale-110" /> 
          </div>
          <div class="overflow-hidden rounded-[50px] h-[20em] sm:h-[17em] md:h-[18em] xl:h-[23em] 2xl:h-[30em] shadow-lg">
            <img src="/galeria2.jpg" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer transition-all ease-in-out duration-500 hover:scale-110" />
          </div>
          <div class="overflow-hidden rounded-[50px] h-[20em] sm:h-[17em] md:h-[18em] xl:h-[23em] 2xl:h-[30em] shadow-lg">
            <img src="/galeria3.jpg" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer transition-all ease-in-out duration-500 hover:scale-110" />
          </div>
          <div class="overflow-hidden rounded-[50px] h-[20em] sm:h-[17em] md:h-[18em] xl:h-[23em] 2xl:h-[30em] shadow-lg">
            <img src="/galeria5.jpg" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer transition-all ease-in-out duration-500 hover:scale-110" />
          </div>
          <div class="overflow-hidden rounded-[50px] h-[20em] sm:h-[17em] md:h-[18em] xl:h-[23em] 2xl:h-[30em] shadow-lg">
            <img src="/gif3.gif" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer transition-all ease-in-out duration-500 hover:scale-110" /> 
          </div>
          <div class="overflow-hidden rounded-[50px] h-[20em] sm:h-[17em] md:h-[18em] xl:h-[23em] 2xl:h-[30em] shadow-lg">
            <img src="/gif1.gif" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer transition-all ease-in-out duration-500 hover:scale-110" />
          </div>
          <div class="overflow-hidden rounded-[50px] h-[20em] sm:h-[17em] md:h-[18em] xl:h-[23em] 2xl:h-[30em] shadow-lg">
            <img src="/galeria6.jpg" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer transition-all ease-in-out duration-500 hover:scale-110" />
          </div>
          <div class="overflow-hidden rounded-[50px] h-[20em] sm:h-[17em] md:h-[18em] xl:h-[23em] 2xl:h-[30em] shadow-lg">
            <img src="/galeria7.jpg" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer transition-all ease-in-out duration-500 hover:scale-110" />
          </div>
          <div class="overflow-hidden rounded-[50px] h-[20em] sm:h-[17em] md:h-[18em] xl:h-[23em] 2xl:h-[30em] shadow-lg">
            <img src="/galeria8.jpg" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer transition-all ease-in-out duration-500 hover:scale-110" />
          </div>
          <div class="overflow-hidden rounded-[50px] h-[20em] sm:h-[17em] md:h-[18em] xl:h-[23em] 2xl:h-[30em] shadow-lg">
            <img src="/gif2.gif" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer transition-all ease-in-out duration-500 hover:scale-110" / >
          </div>
          <div class="overflow-hidden rounded-[50px] h-[20em] sm:h-[17em] md:h-[18em] xl:h-[23em] 2xl:h-[30em] shadow-lg">
            <img src="/galeria9.jpg" alt="Imagen 1" class="object-cover h-full w-full cursor-pointer transition-all ease-in-out duration-500 hover:scale-110" />
          </div>
        </div>
    </div>
</Layout>

