---
import LayoutRegister from "../layouts/LayoutRegister.astro";
---

<LayoutRegister title="Registro" description="Regístrate en nuestra web!">
  <div class="w-full sm:max-w-2xl p-5 mt-10 mb-20 mx-auto">
    <h2
      class="mb-16 text-center text-4xl sm:text-5xl font-extrabold"
    >
      ¡Regístrate ahora y únete a nuestra comunidad!
    </h2>
    <form class="flex flex-col items-center">
      <!-- Primer Bloque -->
      <div class="border-b-[1px] mb-8 w-full px-5 sm:px-10">
        <!-- Nombre y Apellidos -->
        <div class="flex flex-col sm:flex-row sm:space-x-4 mb-4">
          <!-- Nombre -->
          <div class="mb-4 sm:mb-0 w-full sm:w-1/2">
            <label
              for="UserName"
              class="relative block overflow-hidden w-full rounded-xl border border-[#86868b] px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
            >
              <input
                type="text"
                id="UserName"
                placeholder="Nombre de usuario"
                class="peer h-[45px] pl-4 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-[1.1rem] font-custom mt-[3px]"
              />
              <span
                class="absolute pl-4 start-3 top-4 -translate-y-1/2 text-sm text-gray-300 font-custom transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-focus:top-4 peer-focus:text-sm cursor-text"
                >Nombre</span
              >
            </label>
          </div>
          <!-- Apellidos -->
          <div class="w-full sm:w-1/2">
            <label
              for="UserSurname"
              class="relative block overflow-hidden w-full rounded-xl border border-[#86868b] px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
            >
              <input
                type="text"
                id="UserSurname"
                placeholder="Apellidos"
                class="peer h-[45px] pl-4 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-[1.1rem] font-custom mt-[3px]"
              />
              <span
                class="absolute pl-4 start-3 top-4 -translate-y-1/2 text-sm text-gray-300 font-custom transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-focus:top-4 peer-focus:text-sm cursor-text"
                >Apellidos</span
              >
            </label>
          </div>
        </div>

        <!-- Genero -->
        <div class="mb-4">
          <label
            for="UserGender"
            class="relative block overflow-hidden w-full rounded-xl border border-[#86868b] px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
          >
            <select
              id="UserGender"
              class="h-[45px] pl-4 w-full border-none bg-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-[1.1rem] font-custom mt-[7px]"
            >
              <option value="M" class="text-black"> Masculino </option>
              <option value="F" class="text-black"> Femenino </option>
              <option value="O" class="text-black"> Otro </option>
              <option value="P" class="text-black">
                Prefiero no responder
              </option>
            </select>
            <span
              class="absolute pl-4 start-3 top-4 -translate-y-1/2 text-sm text-gray-300 font-custom transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-focus:top-4 peer-focus:text-sm cursor-text"
              >Género
            </span>
          </label>
        </div>

        Pais/Region
        <div class="mb-4 mt-2">
          <label
            for="UserCountry"
            class="relative block overflow-hidden w-fulfull rounded-xl border border-[#86868b] px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
          >
            <select
              id="UserCountry"
              class="h-[45px] w-full pl-4 border-none bg-transparent focus:border-transparent appearance-none focus:outline-none focus:ring-0 sm:text-[1.1rem] mt-[7px] font-custom"
            >
              <option value="AFG" class="text-black"> Afganist&#225;n </option>
              <option value="ALB" class="text-black"> Albania </option>
              <option value="DEU" class="text-black"> Alemania </option>
              <option value="AND" class="text-black"> Andorra </option>
              <option value="AGO" class="text-black"> Angola </option>
              <option value="AIA" class="text-black"> Anguila </option>
              <option value="ATA" class="text-black"> Ant&#225;rtida </option>
              <option value="ATG" class="text-black">
                Antigua y Barbuda
              </option>
              <option value="SAU" class="text-black">
                Arabia Saud&#237;
              </option>
              <option value="IOT" class="text-black">
                Archipi&#233;lago de Chagos
              </option>
              <option value="DZA" class="text-black"> Argelia </option>
              <option value="ARG" class="text-black"> Argentina </option>
              <option value="ARM" class="text-black"> Armenia </option>
              <option value="ABW" class="text-black"> Aruba </option>
              <option value="AUS" class="text-black"> Australia </option>
              <option value="AUT" class="text-black"> Austria </option>
              <option value="AZE" class="text-black"> Azerbaiy&#225;n </option>
              <option value="BHS" class="text-black"> Bahamas </option>
              <option value="BGD" class="text-black"> Banglad&#233;s </option>
              <option value="BRB" class="text-black"> Barbados </option>
              <option value="BHR" class="text-black"> Bar&#233;in </option>
              <option value="BEL" class="text-black"> B&#233;lgica </option>
              <option value="BLZ" class="text-black"> Belice </option>
              <option value="BEN" class="text-black"> Ben&#237;n </option>
              <option value="BMU" class="text-black"> Bermudas </option>
              <option value="BLR" class="text-black"> Bielorrusia </option>
              <option value="BOL" class="text-black"> Bolivia </option>
              <option value="BIH" class="text-black">
                Bosnia y Herzegovina
              </option>
              <option value="BWA" class="text-black"> Botsuana </option>
              <option value="BRA" class="text-black"> Brasil </option>
              <option value="BRN" class="text-black"> Brun&#233;i </option>
              <option value="BGR" class="text-black"> Bulgaria </option>
              <option value="BFA" class="text-black"> Burkina Faso </option>
              <option value="BDI" class="text-black"> Burundi </option>
              <option value="BTN" class="text-black"> But&#225;n </option>
              <option value="CPV" class="text-black"> Cabo Verde </option>
              <option value="KHM" class="text-black"> Camboya </option>
              <option value="CMR" class="text-black"> Camer&#250;n </option>
              <option value="CAN" class="text-black"> Canad&#225; </option>
              <option value="BES" class="text-black">
                Caribe Neerland&#233;s
              </option>
              <option value="QAT" class="text-black"> Catar </option>
              <option value="TCD" class="text-black"> Chad </option>
              <option value="CZE" class="text-black"> Chequia </option>
              <option value="CHL" class="text-black"> Chile </option>
              <option value="CHN" class="text-black">
                China continental
              </option>
              <option value="CYP" class="text-black"> Chipre </option>
              <option value="VAT" class="text-black">
                Ciudad&nbsp;del&nbsp;Vaticano
              </option>
              <option value="COL" class="text-black"> Colombia </option>
              <option value="COM" class="text-black"> Comoras </option>
              <option value="KOR" class="text-black"> Corea del Sur </option>
              <option value="CIV" class="text-black"> Costa de Marfil </option>
              <option value="CRI" class="text-black"> Costa Rica </option>
              <option value="HRV" class="text-black"> Croacia </option>
              <option value="CUW" class="text-black"> Curazao </option>
              <option value="DNK" class="text-black"> Dinamarca </option>
              <option value="DMA" class="text-black"> Dominica </option>
              <option value="ECU" class="text-black"> Ecuador </option>
              <option value="EGY" class="text-black"> Egipto </option>
              <option value="SLV" class="text-black"> El Salvador </option>
              <option value="ARE" class="text-black">
                Emiratos &#193;rabes Unidos
              </option>
              <option value="ERI" class="text-black"> Eritrea </option>
              <option value="SVK" class="text-black"> Eslovaquia </option>
              <option value="SVN" class="text-black"> Eslovenia </option>
              <option value="ESP" class="text-black"> Espa&#241;a </option>
              <option value="USA" class="text-black"> Estados Unidos </option>
              <option value="EST" class="text-black"> Estonia </option>
              <option value="SWZ" class="text-black"> Esuatini </option>
              <option value="ETH" class="text-black"> Etiop&#237;a </option>
              <option value="PHL" class="text-black"> Filipinas </option>
              <option value="FIN" class="text-black"> Finlandia </option>
              <option value="FJI" class="text-black"> Fiyi </option>
              <option value="FRA" class="text-black"> Francia </option>
              <option value="GAB" class="text-black"> Gab&#243;n </option>
              <option value="GMB" class="text-black"> Gambia </option>
              <option value="GEO" class="text-black"> Georgia </option>
              <option value="GHA" class="text-black"> Ghana </option>
              <option value="GIB" class="text-black"> Gibraltar </option>
              <option value="GRD" class="text-black"> Granada </option>
              <option value="GRC" class="text-black"> Grecia </option>
              <option value="GRL" class="text-black"> Groenlandia </option>
              <option value="GLP" class="text-black"> Guadalupe </option>
              <option value="GUM" class="text-black"> Guam </option>
              <option value="GTM" class="text-black"> Guatemala </option>
              <option value="GUF" class="text-black"> Guayana Francesa </option>
              <option value="GGY" class="text-black"> Guernsey </option>
              <option value="GIN" class="text-black"> Guinea </option>
              <option value="GNB" class="text-black"> Guinea-Bissau </option>
              <option value="GNQ" class="text-black">
                Guinea Ecuatorial
              </option>
              <option value="GUY" class="text-black"> Guyana </option>
              <option value="HTI" class="text-black"> Hait&#237; </option>
              <option value="HND" class="text-black"> Honduras </option>
              <option value="HKG" class="text-black"> Hong Kong </option>
              <option value="HUN" class="text-black"> Hungr&#237;a </option>
              <option value="IND" class="text-black"> India </option>
              <option value="IDN" class="text-black"> Indonesia </option>
              <option value="IRQ" class="text-black"> Irak </option>
              <option value="IRL" class="text-black"> Irlanda </option>
              <option value="BVT" class="text-black"> Isla Bouvet </option>
              <option value="IMN" class="text-black"> Isla de Man </option>
              <option value="CXR" class="text-black"> Isla de Navidad </option>
              <option value="ISL" class="text-black"> Islandia </option>
              <option value="NFK" class="text-black"> Isla Norfolk </option>
              <option value="ALA" class="text-black"> Islas &#197;land </option>
              <option value="CYM" class="text-black">
                Islas Caim&#225;n
              </option>
              <option value="CCK" class="text-black"> Islas Cocos </option>
              <option value="COK" class="text-black"> Islas Cook </option>
              <option value="FRO" class="text-black"> Islas Feroe </option>
              <option value="SGS" class="text-black">
                Islas Georgia del Sur y Sandwich del Sur
              </option>
              <option value="HMD" class="text-black">
                Islas Heard y McDonald
              </option>
              <option value="FLK" class="text-black"> Islas Malvinas </option>
              <option value="MNP" class="text-black">
                Islas Marianas del Norte
              </option>
              <option value="MHL" class="text-black"> Islas Marshall </option>
              <option value="UMI" class="text-black">
                Islas menores alejadas de EE.&nbsp;UU.
              </option>
              <option value="SLB" class="text-black">
                Islas Salom&#243;n
              </option>
              <option value="TCA" class="text-black">
                Islas Turcas y Caicos
              </option>
              <option value="VGB" class="text-black">
                Islas V&#237;rgenes Brit&#225;nicas
              </option>
              <option value="VIR" class="text-black">
                Islas V&#237;rgenes de EE. UU.
              </option>
              <option value="ISR" class="text-black"> Israel </option>
              <option value="ITA" class="text-black"> Italia </option>
              <option value="JAM" class="text-black"> Jamaica </option>
              <option value="JPN" class="text-black"> Jap&#243;n </option>
              <option value="JEY" class="text-black"> Jersey </option>
              <option value="JOR" class="text-black"> Jordania </option>

              <option value="KAZ" class="text-black"> Kazajist&#225;n </option>
              <option value="KEN" class="text-black"> Kenia </option>
              <option value="KGZ" class="text-black"> Kirguist&#225;n </option>
              <option value="KIR" class="text-black"> Kiribati </option>
              <option value="XKS" class="text-black"> Kosovo </option>
              <option value="KWT" class="text-black"> Kuwait </option>
              <option value="LAO" class="text-black"> Laos </option>
              <option value="LSO" class="text-black"> Lesoto </option>
              <option value="LVA" class="text-black"> Letonia </option>
              <option value="LBN" class="text-black"> L&#237;bano </option>
              <option value="LBR" class="text-black"> Liberia </option>
              <option value="LBY" class="text-black"> Libia </option>
              <option value="LIE" class="text-black"> Liechtenstein </option>
              <option value="LTU" class="text-black"> Lituania </option>
              <option value="LUX" class="text-black"> Luxemburgo </option>
              <option value="MAC" class="text-black"> Macao </option>
              <option value="MKD" class="text-black">
                Macedonia del Norte
              </option>
              <option value="MDG" class="text-black"> Madagascar </option>
              <option value="MYS" class="text-black"> Malasia </option>
              <option value="MWI" class="text-black"> Malaui </option>
              <option value="MDV" class="text-black"> Maldivas </option>
              <option value="MLI" class="text-black"> Mali </option>
              <option value="MLT" class="text-black"> Malta </option>
              <option value="MAR" class="text-black"> Marruecos </option>
              <option value="MTQ" class="text-black"> Martinica </option>
              <option value="MUS" class="text-black"> Mauricio </option>
              <option value="MRT" class="text-black"> Mauritania </option>
              <option value="MYT" class="text-black"> Mayotte </option>
              <option value="MEX" class="text-black"> M&#233;xico </option>
              <option value="FSM" class="text-black"> Micronesia </option>
              <option value="MDA" class="text-black"> Moldavia </option>
              <option value="MCO" class="text-black"> M&#243;naco </option>
              <option value="MNG" class="text-black"> Mongolia </option>
              <option value="MNE" class="text-black"> Montenegro </option>
              <option value="MSR" class="text-black"> Montserrat </option>
              <option value="MOZ" class="text-black"> Mozambique </option>
              <option value="MMR" class="text-black"> Myanmar </option>
              <option value="NAM" class="text-black"> Namibia </option>
              <option value="NRU" class="text-black"> Nauru </option>
              <option value="NPL" class="text-black"> Nepal </option>
              <option value="NIC" class="text-black"> Nicaragua </option>
              <option value="NER" class="text-black"> N&#237;ger </option>
              <option value="NGA" class="text-black"> Nigeria </option>
              <option value="NIU" class="text-black"> Niue </option>
              <option value="NOR" class="text-black"> Noruega </option>
              <option value="NCL" class="text-black"> Nueva Caledonia </option>
              <option value="NZL" class="text-black"> Nueva Zelanda </option>
              <option value="OMN" class="text-black"> Om&#225;n </option>
              <option value="NLD" class="text-black">
                Pa&#237;ses Bajos
              </option>
              <option value="PAK" class="text-black"> Pakist&#225;n </option>
              <option value="PLW" class="text-black"> Palaos </option>
              <option value="PAN" class="text-black"> Panam&#225; </option>
              <option value="PNG" class="text-black">
                Pap&#250;a Nueva Guinea
              </option>
              <option value="PRY" class="text-black"> Paraguay </option>
              <option value="PER" class="text-black"> Per&#250; </option>
              <option value="PCN" class="text-black"> Pitcairn </option>
              <option value="PYF" class="text-black">
                Polinesia Francesa
              </option>
              <option value="POL" class="text-black"> Polonia </option>
              <option value="PRT" class="text-black"> Portugal </option>
              <option value="PRI" class="text-black"> Puerto Rico </option>
              <option value="GBR" class="text-black"> Reino Unido </option>
              <option value="CAF" class="text-black"
                >Rep&#250;blica Centroafricana</option
              >
              <option value="COG" class="text-black"
                >Rep&#250;blica del Congo</option
              >
              <option value="COD" class="text-black"
                >Rep&#250;blica Democr&#225;tica del Congo</option
              >
              <option value="DOM" class="text-black"
                >Rep&#250;blica Dominicana</option
              >
              <option value="REU" class="text-black"> Reuni&#243;n </option>
              <option value="RWA" class="text-black"> Ruanda </option>
              <option value="ROU" class="text-black"> Ruman&#237;a </option>
              <option value="RUS" class="text-black"> Rusia </option>
              <option value="ESH" class="text-black"
                >S&#225;hara Occidental</option
              >
              <option value="WSM" class="text-black"> Samoa </option>
              <option value="ASM" class="text-black">Samoa Americana</option>
              <option value="BLM" class="text-black">
                San Bartolom&#233;
              </option>
              <option value="KNA" class="text-black"
                >San Crist&#243;bal y Nieves</option
              >
              <option value="SMR" class="text-black"> San Marino </option>
              <option value="MAF" class="text-black"> San Mart&#237;n </option>
              <option value="SPM" class="text-black"
                >San Pedro y Miquel&#243;n</option
              >
              <option value="SHN" class="text-black"> Santa Elena </option>
              <option value="LCA" class="text-black"> Santa Luc&#237;a </option>
              <option value="STP" class="text-black"
                >Santo Tom&#233; y Pr&#237;ncipe</option
              >
              <option value="VCT" class="text-black"
                >San Vicente y las Granadinas</option
              >
              <option value="SEN" class="text-black"> Senegal </option>
              <option value="SRB" class="text-black"> Serbia </option>
              <option value="SYC" class="text-black"> Seychelles </option>
              <option value="SLE" class="text-black"> Sierra Leona </option>
              <option value="SGP" class="text-black"> Singapur </option>
              <option value="SXM" class="text-black"> Sint Maarten </option>
              <option value="SOM" class="text-black"> Somalia </option>
              <option value="LKA" class="text-black"> Sri Lanka </option>
              <option value="ZAF" class="text-black"> Sud&#225;frica </option>
              <option value="SDN" class="text-black"> Sud&#225;n </option>
              <option value="SSD" class="text-black">
                Sud&#225;n del Sur
              </option>
              <option value="SWE" class="text-black"> Suecia </option>
              <option value="CHE" class="text-black"> Suiza </option>
              <option value="SUR" class="text-black"> Surinam </option>
              <option value="SJM" class="text-black"
                >Svalbard y Jan Mayen</option
              >
              <option value="THA" class="text-black"> Tailandia </option>
              <option value="TWN" class="text-black"> Taiw&#225;n </option>
              <option value="TZA" class="text-black"> Tanzania </option>
              <option value="TJK" class="text-black"> Tayikist&#225;n </option>
              <option value="ATF" class="text-black"
                >Territorios Australes Franceses</option
              >
              <option value="PSE" class="text-black"
                >Territorios Palestinos</option
              >
              <option value="TLS" class="text-black"> Timor Oriental </option>
              <option value="TGO" class="text-black"> Togo </option>
              <option value="TKL" class="text-black"> Tokelau </option>
              <option value="TON" class="text-black"> Tonga </option>
              <option value="TTO" class="text-black">Trinidad y Tobago</option>
              <option value="TUN" class="text-black"> T&#250;nez </option>
              <option value="TKM" class="text-black">
                Turkmenist&#225;n
              </option>
              <option value="TUR" class="text-black"> Turqu&#237;a </option>
              <option value="TUV" class="text-black"> Tuvalu </option>
              <option value="UKR" class="text-black"> Ucrania </option>
              <option value="UGA" class="text-black"> Uganda </option>
              <option value="URY" class="text-black"> Uruguay </option>
              <option value="UZB" class="text-black"> Uzbekist&#225;n </option>
              <option value="VUT" class="text-black"> Vanuatu </option>
              <option value="VEN" class="text-black"> Venezuela </option>
              <option value="VNM" class="text-black"> Vietnam </option>
              <option value="WLF" class="text-black">Wallis y Futuna</option>
              <option value="YEM" class="text-black"> Yemen </option>
              <option value="DJI" class="text-black"> Yibuti </option>
              <option value="ZMB" class="text-black"> Zambia </option>
              <option value="ZWE" class="text-black"> Zimbabue </option>
            </select>
            <span
              class="absolute pl-4 start-3 top-4 -translate-y-1/2 text-sm text-gray-300 font-custom transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-focus:top-4 peer-focus:text-sm cursor-text"
              >Pais o Regi&oacute;n
            </span>
          </label>
        </div>
        <!-- Fecha de nacimiento -->
        <div class="mb-8">
          <label
            for="UserBirthdate"
            class="relative block overflow-hidden w-full rounded-xl border border-[#86868b] px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
          >
            <input
              type="date"
              id="UserBirthdate"
              placeholder="Fecha de nacimiento"
              class="peer h-[45px] pl-4 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-[1.1rem] font-custom mt-[3px]"
            />
            <span
              class="absolute pl-4 start-3 top-4 -translate-y-1/2 text-sm text-gray-300 font-custom transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-focus:top-4 peer-focus:text-sm cursor-text"
              >Fecha de nacimiento</span
            >
          </label>
        </div>
      </div>

      <!-- Segundo Bloque -->
      <div class="border-b-[1px] mb-8 w-full px-5 sm:px-10">
        <!-- Correo -->
        <div class="mb-4">
          <label
            for="UserEmail"
            class="relative block overflow-hidden w-full rounded-xl border border-[#86868b] px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
          >
            <input
              type="email"
              id="UserEmail"
              placeholder="nombre@example.com"
              class="peer h-[45px] pl-4 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-[1.1rem] font-custom mt-[3px]"
            />
            <span
              class="absolute pl-4 start-3 top-4 -translate-y-1/2 text-sm text-gray-300 font-custom transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-focus:top-4 peer-focus:text-sm cursor-text"
              >nombre@example.com</span
            >
          </label>
        </div>

        <!-- Contraseña -->
        <div class="mb-4">
          <label
            for="UserPassword"
            class="relative block overflow-hidden w-full rounded-xl border border-[#86868b] px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
          >
            <input
              type="password"
              id="UserPassword"
              placeholder="Password"
              class="peer h-[45px] w-full pl-4 border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-[1.1rem] font-custom mt-[3px]"
            />
            <span
              class="absolute pl-4 start-3 top-4 -translate-y-1/2 text-sm text-gray-300 font-custom transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-focus:top-4 peer-focus:text-sm cursor-text"
              >Contraseña</span
            >
          </label>
        </div>

        <!-- Confirmar Contraseña -->
        <div class="mb-8">
          <label
            for="UserPasswordConfirm"
            class="relative block overflow-hidden w-full rounded-xl border border-[#86868b] px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
          >
            <input
              type="password"
              id="UserPasswordConfirm"
              placeholder="Password"
              class="peer h-[45px] pl-4 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-[1.1rem] font-custom mt-[3px]"
            />
            <span
              class="absolute pl-4 start-3 top-4 -translate-y-1/2 text-sm text-gray-300 font-custom transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-focus:top-4 peer-focus:text-sm cursor-text"
              >Confirmar contraseña</span
            >
          </label>
        </div>
      </div>

      <!-- Tercer Bloque -->
      <div class="border-b-[1px] mb-8 w-full px-5 sm:px-10">
        <!-- Telefono -->
        <div class="mb-4">
          <label
            for="UserPhone"
            class="relative block overflow-hfull rounded-xl border border-[#86868b] px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
          >
            <input
              type="tel"
              id="UserPhone"
              placeholder="Número de teléfono"
              class="peer h-[45px] pl-4 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-[1.1rem] font-custom mt-[3px]"
            />
            <span
              class="absolute pl-4 start-3 top-4 -translate-y-1/2 text-sm text-gray-300 font-custom transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-focus:top-4 peer-focus:text-sm cursor-text"
              >N&uacute;mero de tel&eacute;fono</span
            >
          </label>
        </div>

        <!-- Comprobacion Numero de Telefono -->
        <div class="mb-8">
          <div class="flex items-center pl-7 text-base font-normal">
            Verificar con:
            <label
              class="relative flex cursor-pointer items-center rounded-full ml-6"
              for="radio-sms"
              data-ripple-dark="true"
            >
              <input
                type="checkbox"
                class="before:content[''] custom-checkbox peer pl-4 relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-gray-500 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-blue-500 checked:bg-blue-500 checked:before:bg-blue-500 hover:before:opacity-10"
                id="radio-sms"
                name="verification_method"
                value="SMS"
              />
              <div
                class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3.5 w-3.5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="1"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
            </label>
            <label
              for="radio-sms"
              class="ml-1 text-base leading-5 text-gray-300">SMS</label
            >

            <label
              class="relative flex cursor-pointer items-center rounded-full ml-4"
              for="radio-email"
              data-ripple-dark="true"
            >
              <input
                type="checkbox"
                class="before:content[''] custom-checkbox peer pl-4 relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-gray-500 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-blue-500 checked:bg-blue-500 checked:before:bg-blue-500 hover:before:opacity-10"
                id="radio-email"
                name="verification_method"
                value="Correo"
              />
              <div
                class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3.5 w-3.5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="1"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
            </label>
            <label
              for="radio-email"
              class="ml-1 text-base leading-5 text-gray-300"
              >Correo Electr&oacute;nico</label
            >
          </div>
        </div>
      </div>

      <!-- Avatar -->
      <div class="mb-4 w-full px-5 sm:px-10">
        <label
          for="UserAvatar"
          class="relative block overflow-hidden w-full rounded-xl border border-[#86868b] px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
        >
          <input
            type="file"
            id="UserAvatar"
            placeholder="Avatar"
            class="peer h-[45px] pl-4 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-[1.1rem] font-custom mt-[30px]"
          />
          <span
            class="absolute pl-4 start-3 top-4 -translate-y-1/2 text-base text-gray-300 font-custom transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-focus:top-4 peer-focus:text-sm"
            >Avatar</span
          >
        </label>
      </div>

      <!-- Terminos y condiciones -->
      <div class="mb-4">
        <div class="flex items-center">
          <label
            class="relative flex cursor-pointer items-center rounded-full"
            for="checkbox-2"
            data-ripple-dark="true"
          >
            <input
              type="checkbox"
              class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-gray-500 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-blue-500 checked:bg-blue-500 checked:before:bg-blue-500 hover:before:opacity-10"
              id="checkbox-2"
            />
            <div
              class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-3.5 w-3.5"
                viewBox="0 0 20 20"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="1"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
          </label>
          <label
            for="remember_me"
            class="ml-2 block text-sm leading-5 text-gray-300 font-custom"
            >Acepto los <a href="/terms/" class="underline"
              >t&eacute;rminos y condiciones</a
            ></label
          >
        </div>
      </div>

      <!-- Boton de registro -->
      <div class="mt-6 w-80">
        <button
          class="w-full inline-flex items-center justify-center px-4 py-2 bg-blue-600 border border-transparent rounded-md font-semibold capitalize text-white hover:bg-blue-700 active:bg-blue-700 focus:outline-none focus:border-blue-700 focus:ring focus:ring-blue-200 disabled:opacity-25 transition"
          >Registrarse</button
        >
      </div>

      <!-- Iniciar sesion -->
      <div class="mt-6 text-center">
        <p class="font-custom">
          Ya tienes una cuenta? <a href="/login/" class="underline font-custom"
            >Inicia sesi&oacute;n ahora</a
          >
        </p>
      </div>
    </form>
  </div>
</LayoutRegister>

<script>
  const checkboxes = document.querySelectorAll(".custom-checkbox");

  checkboxes.forEach((checkbox) => {
    checkbox.addEventListener("change", () => {
      if ((checkbox as HTMLInputElement).checked) {
        checkboxes.forEach((item) => {
          if (item !== checkbox) {
            (item as HTMLInputElement).checked = false;
          }
        });
      }
    });
  });
</script>
