---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Interstellar"
    description="Fan Page de Interstellar."
>

<section>
    <div class="relative items-center w-3/4 2xl:w-full px-5 py-12 mx-auto mt-8 mb-40 sm:mb-20 md:px-12 lg:px-24 max-w-7xl bg-[#060a14e8] rounded-xl">
        <div class="grid w-full grid-cols-1 gap-6 mx-auto sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 2xl:grid-cols-3">
            <div class="p-6">
                <a href="https://www.max.com/es/es/movies/interstellar/aa5b9295-8f9c-44f5-809b-3f2b84badfbf" target="_blank"><img class="object-cover object-center w-full mb-8  2xl:h-auto 2xl:w-auto rounded-[70px] transition duration-300 ease-in-out hover:scale-110 cursor-pointer" src="/max.jpeg" alt="blog"></a>
                <div class="inline-flex justify-between w-full">
                    <h1 class="mb-8 text-2xl font-bold leading-none tracking-tighter text-neutral-200">MAX</h1>
                    <span class="text-amber-500 font-bold">€9.99</span>
                </div>
                <p class="mx-auto text-base font-medium leading-relaxed text-white text-pretty lg:text-left text-center">Max es un servicio de suscripción (anteriormente HBO Max). Interstellar podría estar disponible dentro de su catálogo en streaming, dependiendo de los acuerdos de distribución. No ofrece opciones de compra o alquiler directo.</p>
            </div>
            <div class="p-6">
                <a href="https://www.netflix.com/es/title/70305903" target="_blank"><img class="object-cover object-center w-full mb-8 2xl:h-50 2xl:w-50 rounded-[70px] transition duration-300 ease-in-out hover:scale-110 cursor-pointer" src="/netflix.png" alt="blog"></a>
                <div class="inline-flex justify-between w-full">
                    <h1 class="mb-8 text-2xl font-bold leading-none tracking-tighter text-neutral-200">NETFLIX</h1>
                    <span class="text-amber-500 font-bold">€7.99</span>
                </div>
                <p class="mx-auto text-base font-medium leading-relaxed text-white text-pretty lg:text-left text-center">Interstellar esta disponible en Netflix, dependiendo de la región. Netflix opera bajo un modelo de suscripción, por lo que la película se incluye sin costo adicional dentro del catálogo si está disponible en tu país. No ofrece opciones de alquiler o compra directa.</p>
            </div>
            <div class="p-6">
                <a href="https://tv.apple.com/es/movie/interstellar/umc.cmc.1vrwat5k1ucm5k42q97ioqyq3" target="_blank"><img class="object-cover object-center w-full mb-8 2xl:h-50 2xl:w-50 rounded-[70px] transition duration-300 ease-in-out hover:scale-110 cursor-pointer" src="/appletv.png" alt="blog"></a>
                <div class="inline-flex justify-between w-full">
                    <h1 class="mb-8 text-2xl font-bold leading-none tracking-tighter text-neutral-200">APPLE TV</h1>
                    <span class="text-amber-500 font-bold">3.99€</span>
                </div>
                <p class="mx-auto text-base font-medium leading-relaxed text-white text-pretty lg:text-left text-center">En Apple TV, puedes alquilar o comprar Interstellar. La compra te permite tener acceso ilimitado a la película en alta definición (HD) o 4K, mientras que el alquiler te da acceso durante un período limitado, generalmente de 48 horas una vez que comiences a verla.</p>
            </div>
            <div class="p-6">
                <a href="https://www.primevideo.com/-/es/detail/Interestelar/0PUNMGZEWOMYFKR1XIGOLTL2YM" target="_blank"><img class="object-cover object-center w-full mb-8 2xl:h-50 2xl:w-50  rounded-[70px] transition duration-300 ease-in-out hover:scale-110 cursor-pointer" src="/amazon.png" alt="blog"></a>
                <div class="inline-flex justify-between w-full">
                    <h1 class="mb-8 text-2xl font-bold leading-none tracking-tighter text-neutral-200">PRIME VIDEO</h1>
                    <span class="text-amber-500 font-bold">3.79€</span>
                </div>
                <p class="mx-auto text-base font-medium leading-relaxed text-white text-pretty lg:text-left text-center">En Amazon Prime Video, puedes alquilar o comprar Interstellar. La película está disponible en HD y 4K, y puede comprarse para tener acceso ilimitado o alquilarse por un tiempo limitado, normalmente 30 días para iniciar y 48 horas para completarla una vez que empieces a verla.</p>
            </div>
            <div class="p-6">
                <a href="https://www.rakuten.tv/es/movies/interstellar" target="_blank"><img class="object-cover object-center w-full mb-8 2xl:h-auto 2xl:w-auto  rounded-[70px] transition duration-300 ease-in-out hover:scale-110 cursor-pointer" src="/rakutentv.jpg" alt="blog"></a>
                <div class="inline-flex justify-between w-full">
                    <h1 class="mb-8 text-2xl font-bold leading-none tracking-tighter text-neutral-200">RAKUTEN TV</h1>
                    <span class="text-amber-500 font-bold">3.99€</span>
                </div>
                <p class="mx-auto text-base font-medium leading-relaxed text-white text-pretty lg:text-left text-center">Rakuten TV ofrece la opción de alquilar o comprar Interstellar. Está disponible en alta definición y 4K, con las mismas condiciones de tiempo para el alquiler que en otras plataformas: acceso durante 48 horas una vez que comiences a ver la película.</p>
            </div>
            <div class="p-6">
                <a href="https://play.google.com/store/movies/details/Interstellar_2014?id=qPBRz8LcWn0&hl=es&pli=1" target="_blank"><img class="object-cover object-center w-full mb-8 2xl:h-auto 2xl:w-auto rounded-[70px] transition duration-300 ease-in-out hover:scale-110 cursor-pointer" src="/google-play-video.png" alt="blog"></a>
                <div class="inline-flex justify-between w-full">
                    <h1 class="mb-8 text-2xl font-bold leading-none tracking-tighter text-neutral-200">GOOGLE PLAY VIDEO</h1>
                    <span class="text-amber-500 font-bold">3.99€</span>
                </div>
                <p class="mx-auto text-base font-medium leading-relaxed text-white text-pretty lg:text-left text-center">Interstellar está disponible para alquiler o compra en Google Play Video. Ofrece la película en varias resoluciones, desde SD hasta 4K. Como en otras plataformas, el alquiler te da acceso temporal, mientras que la compra te permite verla tantas veces como quieras.</p>
            </div>
            
        </div>
    </div>
</section>

</Layout>